/*--------------------- GENERAL STYLING ---------------------*/

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  --bg-color: rgb(40, 40, 40);
  --text-color: rgb(220, 220, 255);
  --border-color: rgb(220, 220, 220);
  --primary-color: black;
  --secondary-color: rgb(82, 82, 82);
  --tertiary-color: gray;
  --highlight-color: rgb(102, 51, 153);

  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  margin: 0;
}
.light-mode {
  --bg-color: rgba(200, 180, 210, 255);
  --text-color: rgba(100, 50, 120, 255);
  --border-color: rgba(100, 50, 120, 255);
  --primary-color: rgba(246, 218, 221, 255);
  --secondary-color: #d699ce;
  --tertiary-color: rgb(214, 191, 230);
  --highlight-color: #fb6da2;

  .menu-text h1,
  .guessing-game-title h1,
  .rock-paper-scissors-title,
  .minesweeper-container h1 {
    color: var(--highlight-color);
    text-shadow: 
    0 0 7px white, 
    0 0 10px white, 
    0 0 42px white, 
    0 0 82px white,
    0 0 102px white;
  }
}

.menu-text h1,
.guessing-game-title h1,
.rock-paper-scissors-title,
.minesweeper-container h1 {
  color: #fff;
  text-shadow: 
    0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 42px rgb(153, 0, 255),
    0 0 82px rgb(153, 0, 255), 
    0 0 92px rgb(153, 0, 255),
    0 0 102px rgb(153, 0, 255), 
    0 0 151px rgb(153, 0, 255);
}

.title {
  width: auto;
  margin: 5px 5%;
  position: absolute;
  z-index: 1;
  top: -7px;
}

.title h1 {
  font-size: calc(0.4em + 1vmin);
  margin: 0;
  padding: 0 10px;
}

button {
  color: var(--text-color);
  padding: 10px;
  width: calc(2em + 10vmax);
  background-color: var(--highlight-color);
  font-size: calc(0.5em + 0.5vmax);
  font-family: "Press Start 2P", sans-serif;
  outline: 1px solid var(--primary-color);
  box-shadow: 2.5px 2.5px 0px var(--primary-color);
  cursor: pointer;
}

button:hover {
  color: var(--primary-color);
  background-color: var(--text-color);
}

/*--------------------- MAIN MENU ---------------------*/

.menu-text {
  margin: 10vh auto;
}

#light-mode-toggle {
  position: absolute;
  right: 15px;
  top: 10px;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 20px;
}
.game {
  flex: 1 1 280px;
  padding: 20px;
  background-color: var(--primary-color);
  outline: 2px solid var(--border-color);
  box-shadow: 0 0 0 7px var(--primary-color);
  transition: transform 0.2s;
  cursor: pointer;
}
.game:hover {
  transform: scale(1.05);
}
.game-link {
  text-decoration: none;
}
.game-link:hover {
  color: var(--highlight-color);
}
.menu-img {
  max-width: 100%;
  height: auto;
}

.menu-p {
  font-size: 10px;
  line-height: 1.4;
  color: var(--text-color);
  text-decoration: none;
}
.menu-footer {
  margin-top: 20px;
  font-size: 12px;
  color: var(--text-color);
}

/*--------------------- NUMBER GUESSING GAME ---------------------*/

.number-guessing-game {
  display: flex;
  flex-direction: row;
  margin: 10vh auto;
  width: 70vw;
  height: 70vh;
  overflow: hidden;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 0.8em;
  outline: 2px solid var(--border-color);
  box-shadow: 0 0 0 7px var(--primary-color);
}

.guessing-game-title {
  flex: 1;
  max-width: 50%;
  padding: 5%;
  font-size: 0.9em;
  line-height: 1.3;
  background-color: var(--primary-color);
}

#guess-example {
  text-align: left;
  border: 1px solid;
  padding: 10px;
  margin: 10% auto;
  width: 65%;
  height: 30%;
}

.guessing-game-container {
  flex: 1;
  padding: 15px 5%;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--secondary-color);
}

.hint-field {
  margin: 10% auto;
  padding-top: 5%;
  height: 35%;
  width: 60%;
  position: relative;
  text-align: left;
  background-color: var(--primary-color);
  outline: 2px solid var(--border-color);
  box-shadow: 0 0 0 7px var(--primary-color);
}

#hint-field-title {
  background-color: var(--primary-color);
}

.hint-field div,
.hint-field p {
  text-align: center;
}

.guess-field input {
  width: 50px;
  line-height: 50px;
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
  outline: 2px solid var(--tertiary-color);
  box-shadow: inset 2px 2px 0 var(--primary-color);
  font-family: "Press Start 2P", sans-serif;
}

#history {
  flex: 1;
  padding: 0 5%;
  align-items: center;
  flex-direction: column;
  max-width: 50%;
  background-color: var(--primary-color);
  overflow-y: auto;
}

table {
  margin: 2% auto;
  font-size: 0.8em;
  border-collapse: collapse;
}
th {
  background-color: var(--highlight-color);
  border: 2px solid var(--border-color);
  height: 30px;
  padding: 0 10px;
}
td {
  padding: 2%;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/*--------------------- ROCK PAPER SCISSORS ---------------------*/

.rock-paper-scissors {
  height: 100%;
  width: 100%;
}

.battle-field {
  display: flex;
  height: 40vh;
  width: 60vw;
  margin: auto;
  flex-direction: row;
  border: 15px solid var(--primary-color);

  outline: 2px solid var(--border-color);
  background-color: var(--secondary-color);
}

.battle-field span {
  display: flex;
  height: 100%;
  width: 50%;
  background-color: var(--secondary-color);
  align-items: center;
  justify-content: center;
}
.rock-paper-scissors-title {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 60vw;
  margin: 5vh auto 0;
  height: 30px;
  text-align: left;
  border-bottom: none;
  font-size: calc(0.4em+1vmin);
  border: 15px solid var(--primary-color);
  background-color: var(--primary-color);
  outline: 2px solid var(--border-color);
}
.title-icons-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  gap: 10px;
  cursor: pointer;
}
.title-icon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.rock-paper-scissors-title span {
  max-width: 70%;
}

.battle-field img {
  width: 50%;
  height: auto;
}

.cpu-result {
  transform: scaleX(-1);
}
.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin: 5vh 0;
  height: 20vh;
}

.player-score,
.overall-score {
  width: 20vw;
  position: relative;
  outline: 2px solid var(--border-color);
  box-shadow: 0 0 0 7px var(--primary-color);
  background-color: var(--primary-color);
}

#player-score-title,
#overall-score-title {
  background-color: var(--primary-color);
}

.overall-score p {
  text-align: left;
  margin: 10% 0 5% 10%;
  font-size: calc(0.4em + 0.7vmin);
}

.overall-score button {
  font-size: calc(0.4em + 0.7vmin);
}

.score-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.score-icon {
  background-color: var(--text-color);
  border-radius: 10px;
  height: 30px;
  width: 25%;
}

.option-field-container {
  border: 2px solid var(--border-color);
  height: 25vh;
}
.option-field-title {
  padding-top: 5px;
  text-align: left;
  border-bottom: 2px solid var(--border-color);
  padding-left: 10px;
  font-size: 8px;
  background-color: var(--primary-color);
  height: 30px;
}
.option-field {
  display: flex;
  height: 15vh;
  border: 15px solid var(--primary-color);
  background-color: var(--secondary-color);
}

.option-field span {
  border: 4px solid var(--primary-color);
  border-top: none;
  width: 33%;
  height: 100%;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
}

.option-field img,
.option-field p {
  height: 30%;
  opacity: 0.5;
  transition: opacity 0.3 ease;
}

.option-image:hover img,
.option-image:hover p {
  opacity: 1;
}
.option-field img.active {
  opacity: 1;
}

.game-overlay {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

#restart-button {
  margin-top: 10px;
}

.disable-options {
  pointer-events: none;
}
.shake-animation {
  animation: rockShake 1.8s ease forwards;
}
@keyframes rockShake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(0, -100px) rotate(-15deg);
  }
  50% {
    transform: translate(0, 5px) rotate(10deg);
  }
  75% {
    transform: translate(0, -100px) rotate(-15deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/*--------------------- MINESWEEPER ---------------------*/
.minesweeper-container {
  background: var(--bg-color);
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh;
}

.grid {
  margin-top: 20px;
  border: 2px solid var(--border-color);
  outline: 10px solid var(--primary-color);
  text-align: center;
}

.grid td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.grid td.clicked {
  background-color: var(--primary-color);
  color: var(--border-color);
}

.grid td.mine {
  background-image: url("img/bomb.png");
  background-size: cover;
}

/*--------------------- MEDIA QUERIES ---------------------*/

@media screen and (max-width: 820px) {
  .number-guessing-game {
    width: auto;
    height: 1000px;
    margin: 30px;
    flex-direction: column;
  }

  .guessing-game-container,
  .guessing-game-title,
  #history {
    max-width: 100%;
  }

  @keyframes slideOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .player-score,
  .overall-score {
    width: 35vw;
  }
}
